<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Impresoras 3D - Status page</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/one-page-wonder.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://asrob.uc3m.es">ASROB</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#about">Información básica</a>
                    </li>
                    <li>
                        <a href="#blacky">Blacky</a>
                    </li>
                    <li>
                        <a href="#hijares">Hija Resurrection</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>Impresoras 3D</h1>
                <h2>Gestión de impresoras / reservas</h2>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider" id="about">
        <div class="page-header">
            <h1>Información básica</h1>
            <p class="lead">Funcionen o no las impresoras, aquí encontrarás siempre información útil</p>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
              <h4>Grupo de Telegram</h4>
              <p>Para cualquier problema o duda, tenemos un <a href="https://telegram.me/joinchat/ADT1EAoc4Ds9nBXp4Hj9dw">Grupo de Telegram</a> disponible en el que contactar con nosotros. En él siempre hay alguien dispuesto a echar un cable o resolver una duda.</p><br>

              <h4>Manual de usuario</h4>
              <p>Si no sabes cómo usar las impresoras, disponemos de un <a href="https://www.gitbook.com/book/asrob-uc3m/impresoras-user-manual-i3/details">manual de usuario</a> que deberías leer. Si crees que alguna cosa no queda clara o está desfasada, pon una incidencia para que pueda ser actualizado.</p><br>

              <h4>Impresoras 3D de ASROB</h4>
              <p>Si quieres saber más sobre las impresoras 3D que formaron parte de ASROB y su historia, puedes leer acerca de las impresoras 3D de ASROB <a href="http://asrob.uc3m.es/index.php/Impresoras_pasadas">aquí</a>.</p>
            </div>

            <div class="col-lg-6">
              <h4>Incidencias</h4>
              <p>Si le ocurre algo a alguna impresora mientras estás imprimiendo, debes poner una incidencia <a href="https://github.com/asrob-uc3m/impresoras-asrob/issues">aquí</a>. No olvides describir con el mayor detalle posible qué es lo que le pasa a la impresora y cualquier detalle relevante sobre cómo ha ocurrido el incidente.</p><br>

              <h4>Manual de mantenimiento</h4>
              <p>Tras poner una incidencia, si crees que puedes resolver el problema, puedes ofrecerte para reparar la impresora. Disponemos de un <a href="https://www.gitbook.com/book/asrob-uc3m/impresoras-maintenance-manual-i3/details">manual de mantenimiento</a> que explica los principales problemas que pueden surgir y cómo solucionarlos. </p><br>


              <h4>Printer One: A Clone Wars Story</h4>
              <p>Si te interesa el tema de las impresoras 3D y quieres aprender más, tenemos un grupo de trabajo sobre impresoras 3D llamado "Printer One: A Clone Wars Story". Visita <a href="http://asrob.uc3m.es/index.php/Printer_One:_A_Clone_Wars_Story">su página</a> para tener más información sobre sus horarios de reunión y cómo unirte al grupo.</p>
            </div>
        </div>

        {% for printer in printers %}
        <hr class="featurette-divider"  id="{{printer.id}}">

        <!-- First Featurette -->
        <div class="featurette">
            <img class="featurette-image img-circle img-responsive {% if loop.index is divisibleby 2 %}pull-right{% else %}pull-left{% endif %}" src="img/{{printer.id}}.png">
            <h2 class="featurette-heading">{{printer.name}} - 
                <span class="text-muted">{{printer.description}}</span>
            </h2>
            {% if not printer.issues %}
            <h2>
                <span class="label label-success">Status: ok</span>
            </h2>
            <p class="lead">Esta impresora está disponible para imprimir. Las impresoras 3D son de uso libre y gratuito, aunque para usarlas es necesario ser operador de impresoras 3D. Si todavía no eres operador ponte en contacto con un <a href="http://asrob.uc3m.es/index.php/Operadores">operador</a> para recibir la formación.</p>

            <div class="btn-group">
              <a type="button" class="btn btn-lg btn-primary" href="{{printer.link}}">Reserva aquí</a>
              <button type="button" class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="{{printer.link}}">Reserva aquí</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="https://github.com/asrob-uc3m/printers-status-webpage/issues">Incidencias con la hoja de reservas</a></li>
                <li><a href="https://github.com/asrob-uc3m/impresoras-asrob/issues">Incidencias con la impresora</a></li>
              </ul>
              <br>
            </div>

            {% else %}
            <h2>
                <span class="label label-danger">Status: no funciona</span>
            </h2>
            <p class="lead">Lamentablemente, esta impresora no está disponible para imprimir.</p>
            <p class="lead">Las causas son las siguientes:</p>
            <div class="col-sm-4">
                <div class="list-group">
                    {% for issue in printer.issues %}
                    <a href="{{issue.url}}" class="list-group-item">{{ issue.title }}</a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

        </div>
        {% endfor %}


        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Si has detectado algún error en la página o tienes alguna sugerencia, ayúdanos a mejorar, poniendo una incidencia <a href="https://github.com/asrob-uc3m/printers-status-webpage/issues">aquí</a>.</p>
                    <p>Based on the <a href="http://startbootstrap.com/template-overviews/one-page-wonder/">One Page Wonder template</a>  &copy; ASROB 2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/custom.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
